.container {
  margin: 5px auto;
  width: 100vh;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
}
.say{
	background-color: red;
}
input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.sai{
  display: flex;
  column-gap: 70px;
}
.error-message{
  color: red;
}
.span{
  width: 100%;
  height: 100%;

  border-radius: 100%;
}
.error-circle {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  position: absolute;

}
/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: poppins;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

	background-color: #537a9e;
	color: white;
	padding: 20px 0;
}

header nav a {
	color: white;
	margin-right: 30px;
	font-weight: 500;
}

header div.sign-in-up button {
	background-color: #75cfb8;
	font-size: 16px;
	font-weight: 550;
	padding: 4px 12px;
	border: 2px solid #000;
	border-radius: 5px;
	outline: none;
	margin-left: 20px;
}

header div.sign-in-up button:last-child {
	background-color: #fa9579;
}

div.popup-container {
	position: fixed;
	top: 90px;
	left: 0;
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
}

div.popup-container div.popup {
	background-color: #f0f0f0;
	width: 350px;
	height: 350px;
	border-radius: 5px;
	padding: 20px 25px 30px 25px;
}

div.popup-container div.popup h2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
	color: #30475e;
}
h1{
	
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
}
.App {
	
  justify-content: space-around;
  align-items: center;
  height: 100vh; 
  background-image: linear-gradient(
      180deg,
      rgba(59, 56, 59, 0.1),
      rgba(59, 56, 59, 0.1)
    ),
    url('image.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  color: black;
}

div.popup-container div.popup h2 button {
	border: none;
	background-color: transparent;
	outline: none;
	font-size: 18px;
	font-weight: 550;
	color: #797775;
}

div.popup-container div.popup input {
	width: 100%;
	margin-bottom: 20px;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #30475e;
	border-radius: 0;
	padding: 5px 0;
	font-weight: 550;
	font-size: 14px;
	outline: none;
}

div.popup-container div.popup button.login-btn,
div.popup-container div.register button.register-btn {
	font-weight: 550;
	font-style: 15px;
	color: white;
	background-color: #30475e;
	padding: 4px 10px;
	border: none;
	outline: none;
	margin-top: 5px;
}

div.popup-container div.register {
	background-color: #edeef7;
}

div.popup-container div.register h2 {
	color: #fa9579;
}

div.popup-container div.register input {
	border-bottom-color: #fa9579;
}

div.popup-container div.register button.register-btn {
	background-color: #fa9579;
}

div.user {
	color: #30475e;
	background-color: #75cfb8;
	padding: 5px 15px;
	border-radius: 5px;
	font-weight: 500;
}

div.user a {
	color: #30475e;
}


body {
	margin: 0;
	padding: 0;
  }
  

  .main_div {
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	background-color: hsl(206, 21%, 94%);
  }
  .sa{
	margin-top: -30px;
  }
  

  .center_div {
	width: 100%;
	height: 100%;
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
  }
  

  img {
	width: 100%;
	height: 100%;
	border-radius: 30px;
	transition: transform 0.3s ease-in;
	padding: 20px;
  }
  
  img:hover {
	transform: scale(1.1);
  }

  .center_div::-webkit-scrollbar {
	display: none;
  }

body {
	margin: 0;
	padding: 0;
  }
  

  .container {
	width: 100vw;
	height: 60vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fadeInOut 4s infinite;
  }
  

  @keyframes fadeInOut {
	0% {
	  opacity: 1;
	}
	25% {
	  opacity: 1;
	}
	75% {
	  opacity: 1;
	}
	100% {
	  opacity: 1;
	}
  }
  
.imm{
	margin-top: -440px;

	background-image: linear-gradient(
      180deg,
      rgba(59, 56, 59, 0.1),
      rgba(59, 56, 59, 0.1)
    ),
    url('image.jpeg');
}	 */